<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<servers>
		<server>
			<id>zkztch-snapshots</id>
			<username>admin</username>
			<password>admin.hunter</password>
		</server>
		<server>
			<id>zkztch-releases</id>
			<username>admin</username>
			<password>admin.hunter</password>
		</server>
	</servers>
	<mirrors>
		<mirror>
			<id>zkztch-public</id>
			<name>zkztch-public</name>
			<url>http://repo.dev.zkztch.com/repository/maven-public/</url>
			<mirrorOf>central</mirrorOf>
		</mirror>
	</mirrors>
</settings>
